@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Halant", serif;
  font-weight: 200;
  font-style: normal;
  background: rgb(127, 191, 255);
  background: linear-gradient(
    0deg,
    rgba(127, 191, 255, 1) 30%,
    rgba(64, 146, 217, 1) 75%,
    rgba(0, 121, 217, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
