@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Halant", serif;
  font-weight: 200;
  font-style: normal;
  background-repeat: no-repeat;
  background-image:url("./images/bg1.jpg") ;
  
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
